{% extends "layout.html" %} 

{% block title %}
 Deletion Confirmation 
 {% endblock %}

{% block main %}
<h1 style="font-weight: 900; margin-top: 40px; margin-bottom: 50px;">Confirm User Deletion</h1>
<br>

<form action="/deletion" method="post">
  <label for="password" style="font-weight: bold; margin-bottom: 20px">Please enter your password to confirm user deletion:</label>
  <div class="mb-3">
    <input autocomplete="off" autofocus class="form-control" name="password" placeholder="Enter your password" type="password" required />
  </div>

   <!-- Submit -->
  <div class="text-center mt-4">
    <!-- Button From Uiverse.io by satyamchaudharydev -->
    <button type="submit" class="button-ui d-inline-block" style="background-color: #950606 !important; margin-top: 40px; width: 325px;">
    Delete The User
    <svg class="icon-ui" viewBox="0 0 24 24" fill="currentColor">
        <path
        fill-rule="evenodd"
        d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z"
        clip-rule="evenodd"
        ></path>
    </svg>
    </button>
  </div>
</form>

<a href="/" class="btn btn-outline-secondary" style="width: 315px; margin-top: 30px; margin-bottom: 80px;">Back to Home</a>

{% endblock %}
