{% extends "layout.html" %}

{% block title %}
Login
{% endblock %}

{% block main %}
<h1 class="mb-4">Login</h1>
<form action="/login" method="post" style="max-width: 400px; margin: auto;">
  <div class="mb-3">
    <input
      autocomplete="off"
      autofocus
      class="form-control"
      name="username"
      placeholder="Username"
      type="text"
      required
    />
  </div>
  <div class="mb-3 input-group">
    <input
      class="form-control"
      id="password"
      name="password"
      placeholder="Password"
      type="password"
      required
    />
    <button type="button" class="btn btn-outline-secondary" onclick="togglePassword('password')">
      <img src="{{ url_for('static', filename='show-eye.png') }}" alt="Toggle Password Visibility" style="max-width: 24px;">
    </button>
  </div>

  <p style="padding-bottom: 10px;">Don't have an account? <a href="/register">Register here</a>.</p>

  <div class="text-center mt-4">
    <!-- Button From Uiverse.io by satyamchaudharydev -->
    <button type="submit" class="button-ui d-inline-block" style="margin-bottom: 40px; width: 325px;">
    Login Now
    <svg class="icon-ui" viewBox="0 0 24 24" fill="currentColor">
        <path
        fill-rule="evenodd"
        d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z"
        clip-rule="evenodd"
        ></path>
    </svg>
    </button>
  </div>
</form>

<script>
    // Toggle password visibility Made By ChatGPT
  function togglePassword(id) {
    const pass = document.getElementById(id);
    pass.type = pass.type === "password" ? "text" : "password";
  }
</script>
{% endblock %}
